<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERFAZ COMFATOLIMA</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <div class="slider-header">
            <div class="slider-wrapper">
                <div class="slider">
                    ¡Bienvenido Al Programa De Registro Entrada y Salida De Comfatolima! Por Favor Registre Su Cedula Dentro Del
                    Rango Establecido!
                </div>
                <div class="slider">
                    Horario De Lunes A Jueves: 7:30Am A 12:30Pm - 2:00Pm A 6:00Pm | Viernes De 7:30Am A 12:30Pm - 2:00Pm A 4:00Pm
                </div>
                <div class="slider">
                    &copy; Comfatolima Caja De Compensacion Familiar Del Tolima
                </div>   
            </div>
        </div>
    </header>

    <section>
        <img src="/static/img/empresa.png" alt="logo">
    </section>

    <aside>
        <img src="/static/img/persons.png" alt="Personas">
    </aside>

    <div class="container">
        <form action="" method="POST">
            <div class="backgroundinput">
                <h2>REGISTRO DE ENTRADA Y SALIDA COMFATOLIMA</h2><br>
                <input type="number" id="Cedula" name="Cedula" placeholder="Ingrese su cédula" required>
                <button type="submit" class="envio">REGISTRAR</button>
            </div>
        </form>
    </div>

    <div class="messages {% if get_flashed_messages() %} visible {% else %} hidden {% endif %}" id="error-message">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <script>
        function hideErrorMessage() {
            const errorMsg = document.getElementById('error-message');
            if (errorMsg) {
                errorMsg.style.display = 'none';
            }
        }

        window.onload = function() {
            const errorMsg = document.getElementById('error-message');
            if (errorMsg && errorMsg.childNodes.length > 0) {
                setTimeout(hideErrorMessage, 3000); // 3000 ms = 3 segundos
            }
        };
    </script>

    <footer>
        <div class="slider-footer">
            <img src="/static/img/fcomfa.png" alt="Fondo_comfatolima">
        </div>
    </footer>
    

</body>
</html>