<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComfaChannel</title>
</head>
<body>
    <div class="Main">
        <div class="Submain">
        
                <img src="/static/comfachannel_mark.png" alt=""  width="98" height="100">
                <a href="/Templates/EnviarRQ.html"> Nuevo Correo </a>
                <a href="">Inbox </a>
                <a href="">Destacados</a>
                <a href="">Papelera</a>
                <a href="">Configuracion</a>

                 <div class="bandeja">
                    <nav>
                    <p>Principal</p>
                    <p>No leido</p>
                </nav>
                
                 </div>

        </div>
    </div>
</body>
</html>