<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <form id="Login_request" method="POST">
        <div class="token">
            <input type="username" name="User#" placeholder="Ingresa tu Usuario">
        </div>
        <div class="token">
            <input type="password" name="pass1" placeholder="Ingresa la contraseña">
        </div>
    </form>

</body>

</html>