<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requerimientos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>

<body>

    <h1>Formulario</h1>
    <div class="Form">
    <form action="" method="post">
      <div class="Inputs"></div>  
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" name="fecha"><br>
        <label for="asunto">Asunto</label>
        <input type="text" id="asunto" name="asunto"><br>
        <label for="descripcion">Descripcion</label>
        <input type="text" id="Description"><br>
        <input type="submit" value="Submit">
    </div>
    </form>
</div>
</body>

</html>